body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: auto;
  }

ol, ul {
    padding-left: 30px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
}
  